@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

#title h1 {
	margin: 1em auto;
	margin-block: 0rem;
	font-family: 'Nothing You Could Do', cursive;
	font-size: 3rem;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

nav a {
	padding: 0.25rem;
	font-size: 1rem;
}

a {
	color: blue;
}

header {
	text-align: center;
}
