@import 'header.css';
@import 'footer.css';
@import 'pygment.css';

body {
	background-color: whitesmoke;
	width: 60rem;
	margin: 1rem auto;
}

main {
	text-align: left;
	padding: 2rem;
}

img {
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	color: darkred;
}

a {
	color: darkred;
}

ul ::marker {
	color: darkred
}

pre {
	overflow: auto;
	padding: 1rem;
	border: 0.1rem solid black;
	tab-size: 4;
}

.language-plaintext {
	color: darkred;
}

.highlight {
	border-radius: 0.3rem;
	background-color: lightgrey;
}

blockquote {
	color: black;
	padding: 0rem 1rem;
	margin-left: 0;
	border-left: 0.3rem solid darkred;
}
