@import 'header.css';
@import 'footer.css';
@import 'pygment.css';

body {
	background-color: whitesmoke;
	width: 60rem;
	margin: 1rem auto;
}

main {
	text-align: left;
	padding: 2rem;
}

img {
	max-width: 100%;
}

pre {
	overflow: auto;
	padding: 1rem;
	border: 0.1rem solid black;
	tab-size: 4;
}

.highlight {
	border-radius: 0.3rem;
	background-color: lightgrey;
}

blockquote {
    padding: 0 1rem;
    margin-left: 0;
    border-left: 0.3rem solid black;
} blockquote:first-child {
  margin-top: 0;
} blockquote:last-child {
  margin-bottom: 0;
}
